{% extends "base.html" %}

{% block title %}Список друзей и взятые ими книги{% endblock %}

{% block content %}
    {% for friend in friends %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
                {{ friend.FriendName }}
                <ul class="list-group">
                    {% for book in friend.books.all %}
                        <li class="list-group-item list-group-item-success"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock %}